.video-box {
  background: #000;
}

.video-box iframe {
  width: 100%;
  height: 200px;
}

.rule-box {
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.rule-box > .wrapper {
  justify-content: flex-start;
  min-height: min-content;
}

.button-box .back {
  width: 100px;
}

.button-box .train {
  flex-grow: 1;
}

.rule-box p {
  margin: 16px 0;
}
