/* progress */

.progress-box {
  padding: 11px 16px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.progress-box > .wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 100%;
}

.progress-box .progress {
  height: 4px;
  border-radius: 2px;
  flex-grow: 1;
  margin: 5px 0;
  margin-right: 13px;
  background: rgba(0, 0, 0, .09);
  overflow: hidden;
}

.progress-box .progress:before {
  content: "";
  height: 4px;
  width: 0;
  display: block;
  background: var(--right);
}

.progress-box .progress.p10:before { width: 10%; }
.progress-box .progress.p20:before { width: 20%; }
.progress-box .progress.p30:before { width: 30%; }
.progress-box .progress.p40:before { width: 40%; }
.progress-box .progress.p50:before { width: 50%; }
.progress-box .progress.p60:before { width: 60%; }
.progress-box .progress.p70:before { width: 70%; }
.progress-box .progress.p80:before { width: 80%; }
.progress-box .progress.p90:before { width: 90%; }
.progress-box .progress.p100:before{ width: 100%; }

.progress-box .close-test-btn {
  width: 14px;
  height: 14px;
  position: relative;
}

.progress-box .close-test-btn:before {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  position: absolute;
  top: 6px;
  left: -2px;
  background: #d8d8d8;
  transform: rotate(45deg);
}

.progress-box .close-test-btn:after {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  position: absolute;
  top: 6px;
  left: -2px;
  background: #d8d8d8;
  transform: rotate(-45deg);
}

/* test */

.content-box {
  padding: 0 16px;
  justify-content: center;
  flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
}

.content-box > .wrapper {
  position: absolute;
  top: 0;
  right: 16px;
  bottom: 0;
  left: 16px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: min-content;
}

.button-box {
  height: 72px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.button-box > .wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 100%;
}

.button-box .btn {
  margin: 16px;
  flex-grow: 1;
}

.button-box .btn + .btn {
  margin-left: 0;
}

/* Option */

.option {
  text-decoration: none;
  height: 48px;
  font-size: 20px;
  line-height: 48px;
  text-align: center;
  border-radius: 4px;
  display: block;
}

.option + .option {
  margin-top: 16px;
}

.option-right {
  background: var(--right);
  color: #fff;
}

.option-wrong {
  background: var(--wrong);
  color: #fff;
}

.option-clickable {
  color: rgba(0, 0, 0, .87);
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12),
              0 2px 2px rgba(0, 0, 0, 0.24);
}

.option-default {
  color: rgba(0, 0, 0, .87);
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .12);
}

.option-was-right {
  color: var(--right);
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .12);
}

/* Multiple choice */

.multiple-choice-box {
  justify-content: flex-start;
}

.multiple-choice-box > .wrapper {
  top: 16px;
  justify-content: flex-start;
}

.options-list {
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12),
              0 2px 2px rgba(0, 0, 0, 0.24);
}

.options-list .option-item {
  background: #fff;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.options-list .option-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.options-list .option-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.options-list .option-item:before {
  content: "";
  width: 20px;
  top: 14px;
  left: 16px;
  box-sizing: border-box;
  height: 20px;
  border: 2px solid #666;
  display: block;
  position: absolute;
  border-radius: 4px;
}

.options-list .option-item.active:after {
  content: "";
  top: 18px;
  left: 20px;
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  background: var(--primal);
  display: block;
  position: absolute;
  border-radius: 2px;
}

.options-list .option-item.active:before {
  border-color: var(--primal);
}

.options-list .option-item.right:before {
  border-color: var(--right);
}

.options-list .option-item.right:after {
  background: var(--right);
}

.options-list .option-item.wrong:before {
  border-color: var(--wrong);
}

.options-list .option-item.wrong:after {
  background: : var(--wrong);
}

.options-list .option-item .explanation {
  display: none;
}

.options-list .option-item .open-btn {
  position: absolute;
  top: 14px;
  right: 16px;
  display: none;
}

.options-list .option-item.wrong .open-btn,
.options-list .option-item.right .open-btn {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
}

.options-list .option-item .open-btn:before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  position: absolute;
  top: 9px;
  left: 0;
  background: #d8d8d8;
}

.options-list .option-item .open-btn:after {
  content: "";
  display: block;
  width: 2px;
  height: 20px;
  margin: 0 auto;
  background: #d8d8d8;
}

.options-list .option-item.opened .open-btn:after {
  display: none;
}

.options-list .option-item.opened .explanation {
  display: block;
  padding: 0 16px 16px;
  color: rgba(0, 0, 0, .38);
}

.options-list .option-item:last-child {
  border-bottom: none;
}

.options-list .option-item .text {
  line-height: 48px;
  padding-left: 44px;
}
