

/* Test choice */

.condition {
  font-size: 24px;
  padding: 0 4px;
}

.long-condition {
  font-size: 20px;
  padding: 0 4px;
}

.condition + .compact-options {
  margin-top: 32px;
}

.condition + .option {
  margin-top: 32px;
}

.condition + .explanation {
  margin-top: 8px;
}

.explanation {
  padding: 0 4px;
  color: rgba(0, 0, 0, .54);
}

.explanation + .compact-options {
  margin-top: 32px;
}

.explanation + .option {
  margin-top: 32px;
}

.compact-options {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.compact-options .option {
  flex-grow: 1;
  margin-right: 16px;
  margin-top: 0;
}

.compact-options .option:last-child {
  margin-right: 0;
}
